# Copy to document-drives.env for your local machine.

DOCUMENTS_SSD_MOUNT=/media/$USER/Documents_1
DOCUMENTS_HDD_MOUNT=/media/$USER/Documents_2
DOCUMENTS_SSD_UUID=replace-with-uuid
DOCUMENTS_HDD_UUID=replace-with-uuid
