[Desktop Entry]
Type=Application
Version=1.0
Name=Calibre
GenericName=E-book manager
Comment=Manage, convert, and read e-books
Exec=calibre %F
Icon=calibre
Terminal=false
Categories=Office;Viewer;
MimeType=application/epub+zip;application/x-mobipocket-ebook;application/x-fictionbook+xml;application/x-cbr;application/x-cbz;application/pdf;
StartupNotify=true
